{% extends "base.html" %}

{% block title %}
{{ homepage.name }} Web Design - Techbits Data Solutions
{% endblock title %}

{% block meta %}
<meta property="og:title" content="{{ homepage.name }} Web Design - TechBitsData" />
<meta property="og:description" content="TechBitsData is an industry leader in {{ homepage.name }} web design. Fully custom {{ homepage.name }} websites with database integration & property search. Contact us today." />
<meta itemprop="name" content="{{ homepage.name }} Web Design - TechBitsData">
<meta itemprop="description" content="TechBitsData solutions is an industry leader in {{ homepage.name }} web design. Fully custom {{ homepage.name }} websites with database integration & property search. Contact us today.">

{% endblock meta %}

{% block content %}
<section class="interior-content" data-page-id="1032">
    <section data-block="98" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="strings" data-columns="2" class="amsd">
        <div data-template="page-heading">
            <div class="page-heading-wrapper">
                <div class="bg-color {{ homepage.header_color }} has-iphone-preview">
                    <style type="text/css">
                    [data-block="98"] .iphone-preview {
                        background-image: url("{% if homepage.header_img %}{{ homepage.header_img.url }}{% endif %}");

                    }

                    [data-block="98"] .client-name {
                        text-shadow: 0 0 12px #74d1ff;
                    }
                    </style>
                    <div class="gradient"></div>
                    <div class="wrapper">
                        <div class="max-width">
                            <div class="iphone-preview-wrapper">
                                <div class="iphone-preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-heading-content has-iphone-preview">
                    <div class="wrapper max-width">
                        <div class="flexbox-row headings-wrapper">
                            <div class="flexbox-col">
                                <div class="heading heading-1 large-heading">
                                    <h1> {{ homepage.header_title }} </h1>
                                    {% if homepage.header_subtitle %}
                                    <div class="heading heading-4 small-heading">{{ homepage.header_subtitle}}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="flexbox-row text-columns-wrapper">
                            <div class="flexbox-col page-heading-column-one">
                                <div class="text md-and-up">
                                    {{ homepage.header_description|safe }}
                                </div>
                            </div>
                            <div class="flexbox-col"></div>
                        </div>
                        <div class="flexbox-row buttons-wrapper md-and-up">
                            <div class="flexbox-col">
                                <div class="button"><a href="{% url 'lets-talk' %}" class="cms-btn cms-btn-primary">Request A Quote</a></div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="md-and-down page-heading-small-screen-text">
                    <div class="wrapper">
                        <div class="text">
                            {{ homepage.header_description|safe }}
                        </div>
                        <div class="buttons-wrapper">
                            <div class="button"><a href="{% url 'lets-talk' %}" class="cms-btn cms-btn-primary">Request A Quote</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clr"></div>
    <div class="wrapper">
        <div id="interior-content-blocks" tabindex="-1" data-tab-element="-1">
            {{ homepage.body|safe }}
        </div>
    </div>
</section>
{% endblock content %}