{% extends "base.html" %}
{% load static %}
{% load portfolio_tags %}
{% load core_tags %}
{% block content %}
<section id="interior-content" class="" data-page-id="1032">
    <div class="clr"></div>
    <div class="wrapper">
                    <div id="interior-content-blocks" tabindex="-1" data-tab-element="-1">
                        <section data-block="2" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="strings" data-columns="2" class="amsd">
                            <div data-template="industries-home">
                                <div class="max-width">
                                    <section data-template="text-one-column">
                                        <h1 class="heading heading-1">
                                            <span id="industries-heading-text">CUSTOM WEB <br class="phone-only" />DESIGN <br class="non-phone-only" />FOR</span>
                                            <span id="industries-cycle" data-randomize-start="true">
                                                {% get_homepages as homepages %}
                                                {% for page in homepages %}
                                                    <span class="{% cycle 'color-lightblue' 'color-carnation' 'color-sun-yellow' 'color-sun-yellow' 'color-dusty-orange' 'color-sun-yellow' 'color-lightblue' 'color-brown-grey' 'color-sandy' 'color-pale-olive-green' %}" data-industry="{{ page.slug }}-web-design">{{ page.name }}</span>
                                                {% endfor %}
                                                <span id="industries-cycle-last">Your Business</span>
                                            </span>
                                        </h1>
                                        <div class="text">
                                            <p>For Years, we&rsquo;ve specialized in custom web design, web development, and web marketing to move businesses and organizations forward with measurable results. What can we do to move you forward?</p>
                                        </div>
                                        <div class="button">
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <section data-block="672" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="strings" data-columns="2" class="amsd">
                            <div data-template="case-studies-list">
                                <section data-template="case-studies-standalone-include">
                                    <section data-block="287" data-template="case-studies-list" data-type="amsd" data-profile="false" data-layout="custom" data-columns="2" class="amsd">
                                        <div class="mobile-column-max-width">
                                            {% get_projects as project_group %}
                                            {% for group in project_group %}

                                                <div class="flexbox-row">
                                                    {% for project in group %}


                                                    <div class="flexbox-col" data-size="{% cycle 'large' 'small' 'small' 'large' %}" data-position="{% cycle 'left' 'center' 'center' 'right' %}" data-theme="dark">
                                                        <div class="case-study-padding">
                                                            <div class="case-study {% cycle 'bg-color-sandy' 'bg-color-brownish-grey' 'bg-color-pale-olive-green' 'bg-color-light-grey-blue' 'bg-color-orange-red' 'bg-color-black' 'bg-color-brownish-grey' %}" data-case-study="1093">
                                                                <div class="heading-wrapper">
                                                                    <div class="heading-content">
                                                                        <div class="logo">
                                                                            <img data-lazy-load data-src="{{ project.logo.url }}" alt="{{ project.name }}" />
                                                                        </div>
                                                                        <div class="heading heading-8 color-dark">{{ project.location }}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="device-screenshot">
                                                                    <div class="device-screenshot-inner">
                                                                        <div class="device-screenshot-screenshot" style="background-image: url('{{ project.images.first.image.url }}')"></div>
                                                                        <div class="device-screenshot-ui"></div>
                                                                        <div class="device-screenshot-url">{{ project.url }}</div>
                                                                        <div class="device-screenshot-clock" data-live-time="desktop"></div>
                                                                        <div class="device-screenshot-background"></div>
                                                                        <div class="device-screenshot-background-fallback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="overlay-wrapper">
                                                                    <div class="overlay-inner">
                                                                        <div class="overlay-heading">
                                                                            <div class="heading heading-6">{{ project.name }}</div>
                                                                            <div class="heading heading-8">{{ project.location }}</div>
                                                                        </div>
                                                                        <div class="overlay-button">
                                                                            <a href="{{ project.url }}" class="cms-btn animated-button case-study-overlay-button-color-sandy">View This Project</a> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    {% endfor %}
                                                </div>

                                                {% endfor %}
                                        </div>
                                    </section>
                                    <div class="heading-with-button desktop-only">
                                        <div class="recessed-heading">
                                            <h2>See Our Work</h2>
                                        </div>
                                        <div class="recessed-button"><a href="{% url 'portfolio:projects' %}" class="cms-btn cms-btn-primary">Our Work</a></div>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <section data-block="673" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="strings" data-columns="2" class="amsd">
                            <div data-template="full-width-background-w-text-overlay">
                                <style type="text/css">
                                #full-width-background-673.lazy-loaded {
                                    background-image: url(https://d3dpix5tqb3tqh.cloudfront.net/image/824/1000);
                                    background-position: center center;
                                }

                                @media screen and (min-width: 1000px) {
                                    #full-width-background-673.lazy-loaded {
                                        background-image: url(https://d3dpix5tqb3tqh.cloudfront.net/image/824/2000);
                                        background-position: center center;
                                    }
                                }

                                @media screen and (min-width: 2000px) {
                                    #full-width-background-673.lazy-loaded {
                                        background-image: url(https://d3dpix5tqb3tqh.cloudfront.net/image/824/3000);
                                        background-position: center center;
                                    }
                                }
                                </style>
                                <style type="text/css">
                                #full-width-background-673 {
                                    padding-bottom: 61.094847775176%;
                                }

                                @media (max-width: 640px) {
                                    #full-width-background-673 {
                                        padding-bottom: 61.094847775176%;
                                    }
                                }
                                </style>
                                <div id="full-width-background-673" class="full-width-background" data-lazy-load-responsive-photo></div>
                                <div class="overlay overlay-position-top-right bg-color-lightblue">
                                    <div class="headings">
                                        <div class="heading heading-5">Your Customers Are Searching...</div>
                                        <div class="heading heading-3">
                                            <h2> Reach Them With Web Marketing </h2>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>On top of custom web design and web development, we also offer web marketing services to optimize your site&#39;s performance.</p>
                                        <p>&nbsp;</p>
                                        <p>Imagine connecting with a new customer every time they searched for your services! This is what investing in web marketing can do for you.</p>
                                    </div>
                                    <div class="button"><a href="https://techbitsdata.com/services/search-engine-optimization/" class="cms-btn cms-btn-primary">Learn More About Web Marketing</a></div>
                                </div>
                            </div>
                        </section>
                        <section data-block="52" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="feature_boxes" data-columns="2" class="amsd block ul-li-checkbox">
                            <div class="max-width">
                                <section data-template="text-one-column" class="">
                                    <div class="heading heading-2 block-title">Attract A Crowd,<br />Drive Website Growth</div>
                                    <div class="text">
                                        <p>Even the most beautiful website design and development in the world won&#39;t realize its full potential if customers cannot find the site when they search. We can maximize the performance of your new website.</p>
                                        <p>&nbsp;</p>
                                        <p>Our search engine optimization builds on our custom web design and web development service and improves your website&rsquo;s search performance. Our Pay-Per-Click (PPC)&nbsp;management services will ensure you get the most out of every dollar, your ads are shown in the most effective positions, and our review generation service will get you more 5-star reviews on the sites that matter most!</p>
                                    </div>
                                    <div class="clr"></div>
                                </section>
                            </div>
                            <div class="flexbox-row">
                                <div class="flexbox-col">
                                    <div class="feature-box">
                                        <div class="feature-box-top">
                                            <div class="heading heading-4 heading-underline" data-eq-height="feature-box-heading-52" data-eq-height-threshold="lg">
                                                <div>
                                                    <h4> Search Engine Optimization </h4>
                                                </div>
                                            </div>
                                            <div class="text ul-li-checkbox" data-eq-height="feature-box-text-52" data-eq-height-threshold="lg">
                                                <ul>
                                                    <li>Improve organic rank for keywords &amp; search terms related to your business</li>
                                                    <li>Build a foundation for your website with technical optimization - SEO strengthens other marketing &amp; branding efforts</li>
                                                    <li>Compete locally, in multiple geographic regions, or on a national level</li>
                                                </ul>
                                            </div>
                                            <div class="button" data-eq-height="feature-box-button-52" data-eq-height-threshold="lg"><a href="https://techbitsdata.com/services/search-engine-optimization/" class="cms-btn animated-button animated-button-color-sun-yellow">Improve Your Site's Performance</a></div>
                                        </div>
                                        <div class="feature-box-bottom">
                                            <div class="bg-color bg-color-sun-yellow" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flexbox-col">
                                    <div class="feature-box">
                                        <div class="feature-box-top">
                                            <div class="heading heading-4 heading-underline" data-eq-height="feature-box-heading-52" data-eq-height-threshold="lg">
                                                <div>
                                                    <h4> Pay-Per-Click </h4>
                                                </div>
                                            </div>
                                            <div class="text ul-li-checkbox" data-eq-height="feature-box-text-52" data-eq-height-threshold="lg">
                                                <ul>
                                                    <li>Show up in search on day 1 for keywords your website can&#39;t rank for organically</li>
                                                    <li>Drive traffic to your website and track conversions - calls, check-outs, form downloads, &amp; more</li>
                                                    <li>Targeted landing pages built specifically for your ads</li>
                                                </ul>
                                            </div>
                                            <div class="button" data-eq-height="feature-box-button-52" data-eq-height-threshold="lg"><a href="https://techbitsdata.com/services/pay-per-click-web-marketing/" class="cms-btn animated-button animated-button-color-bright-cyan">Start a PPC Campaign</a></div>
                                        </div>
                                        <div class="feature-box-bottom">
                                            <div class="bg-color bg-color-bright-cyan" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flexbox-col">
                                    <div class="feature-box">
                                        <div class="feature-box-top">
                                            <div class="heading heading-4 heading-underline" data-eq-height="feature-box-heading-52" data-eq-height-threshold="lg">
                                                <div>
                                                    <h4> Get 5-Star Reviews </h4>
                                                </div>
                                            </div>
                                            <div class="text ul-li-checkbox" data-eq-height="feature-box-text-52" data-eq-height-threshold="lg">
                                                <ul>
                                                    <li>Generate and display reviews for your business on trusted sites like Google and Facebook</li>
                                                    <li>Contribute to your website SEO - reviews lead to higher rank in local search results</li>
                                                    <li>Integrate customer lists through Quickbooks so you don&#39;t have to remember to follow-up</li>
                                                </ul>
                                            </div>
                                            <div class="button" data-eq-height="feature-box-button-52" data-eq-height-threshold="lg"><a href="https://techbitsdata.com/services/5-star-review-generation/" class="cms-btn animated-button animated-button-color-pale-olive-green">Get More 5-Star Reviews</a></div>
                                        </div>
                                        <div class="feature-box-bottom">
                                            <div class="bg-color bg-color-pale-olive-green" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>
</section>
{% endblock content %}