{% extends "base.html" %}

{% block title %}
    Page Not Found
{% endblock title %}

{% block meta %}
    <meta property="og:title" content="Page Not Found" />
{% endblock meta %} 

{% block content %}
    <section id="interior-content" class="" data-page-id="404">
                <section data-block="57" data-type="amsd" data-profile="false" data-layout="vertical-list" data-table="strings" data-columns="2" class="amsd pull-into-nav page-404 bg-color-white">
                    <div data-template="split-screen-photo-w-one-column-text">
                        <style type="text/css">
                        [data-block="57"] .responsive-photo {
                            background-position: 52% 31%;
                        }

                        @media (max-width: 768px) {

                            [data-block="57"] .mobile-column-max-width {
                                width: 100%;
                                max-width: 450px;
                            }

                            [data-block="57"] .responsive-photo {
                                padding-bottom: 78.609817269796%;
                            }

                        }

                        @media (min-width: 769px) {

                            [data-block="57"] .split-screen-photo {

                                min-height: calc(680px * 0.78609817269796);

                            }

                            [data-block="57"] .responsive-photo {
                                -webkit-background-size: contain !important;
                                -moz-background-size: contain !important;
                                -o-background-size: contain !important;
                                background-size: contain !important;
                            }

                        }
                        </style>
                        <div class="wrapper">
                            <div class="flexbox-row" data-photo-position="left">
                                <div class="flexbox-col split-screen-photo" style="min-height: 576.826px;">
                                    <div class="mobile-column-max-width">
                                        <div class="responsive-photo in-viewport" style="background-image: url(&quot;https://d3dpix5tqb3tqh.cloudfront.net/image/49/2000&quot;);"></div>
                                    </div>
                                </div>
                                <div class="flexbox-col split-screen-text">
                                    <div data-template="text-one-column">
                                        <div class="heading heading-2 block-title" data-uw-styling-context="true">You Caught Us</div>
                                        <div class="text">
                                            <p data-uw-styling-context="true">The page you seek is no longer here. Blame the monkeys taking a break, OR just check your spelling and try again.</p>
                                            <p>&nbsp;</p>
                                            <p><a class="cms-btn cms-btn-primary" data-filename="false" href="{% url 'index' %}" tabindex="0" data-uw-styling-context="true" data-uw-rm-brl="false">Go to Homepage</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>




                
                <div class="clr"></div>
                <div class="wrapper">
                    <div id="interior-content-blocks" data-tab-element="-1" tabindex="0">
                        <section data-template="lets-talk-button" class="desktop-only fade-in" style="transform: scale(1);">
                            <div class="gradient"></div>
                            <div class="max-width">
                                <a class="btn-red-circle" id="lets-talk-button" data-lets-talk-click-event="open" tabindex="0">
                                    <div style="opacity: 1;">
                                        <small data-uw-styling-context="true">Let's</small><span data-uw-styling-context="true">Talk</span>
                                    </div>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
{% endblock content %}